<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div class="container">
  {% include nav.html %}
  <hr class="stylish"/>
  {{ content }}
</div>
<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="ko_KR" data-type="horizontal" data-theme="light" data-vanity="hongki-liam-cho-1022b1174"><a class="LI-simple-link" href='https://kr.linkedin.com/in/hongki-liam-cho-1022b1174?trk=profile-badge'>Hongki (Liam) Cho</a></div>
<footer>
  <hr class="stylish"/>
  {% include nav.html %}
  <div>
    Theme: <a href="https://github.com/abhn/Elementary">Elementary</a>
    <br/>
    <a>{{ site.name }}</a> &copy; {{ site.time | date: '%Y' }}
  </div>
</footer>
{% if site.javascript_enabled %}
  <script src="/assets/main.js"></script>
{% endif %}
</body>
</html>
